.row.inline-comment-form.slide-hide
  .col-sm-12.center.buffer.twice
    = form_for([@board, item, vote]) do |f|
      .field.buffer
        %p Vote Up This Item
        = f.text_field :user_name, class: 'autocomplete', placeholder: 'Your Name', data: {autocomplete: @board.names}, autofocus: true
        = f.submit 'Save', class: "btn btn-default #{item.column_name.downcase}-grad"
        %a.slide-hide-hide.btn.btn-default Cancel
