.row
  .col-sm-12.center
    %h3 Comments for:
    %p.buffer= @item.title
  

.row.buffer
  .col-sm-12.center
    = link_to('Add A Comment', new_board_item_comment_path(@board, @item), class: 'btn btn-default')

.row.buffer.twice
  .col-sm-12.col-md-offset-4.col-md-4
    - @comments.each do |comment|
      .comment
        %p= comment.comment 
        .right.small
          User
          