.row.buffer.thrice

.row.buffer.thrice
  .col-sm-m-12.center
    %p= link_to "Create A Project or Organization", new_group_path, class: 'btn btn-primary'
    (to group together retrospectives for a project or organization)
.row.buffer.thrice
  .col-sm-m-12.center
    = link_to "Create A New Retrospective Board", new_board_path, class: 'btn btn-primary'