.row.buffer.thrice
  .col-sm-12.center
    %p Retrospectives allow you to gather feedback from a number of people.
    %p Find out what is working, what is not working, and what they are concerned about.

.row.buffer.thrice
  .col-sm-12.center
    %p= link_to "Create A Project or Organization", new_group_path, class: 'btn btn-primary'
    (to group together retrospectives for a project or organization)

.row.buffer.thrice
  .col-sm-12.center
    = link_to "Create A New Retrospective Board", new_board_path, class: 'btn btn-primary'
    
    

.row.buffer.thrice
  .col-sm-12
    &nbsp;
    
.row.buffer.thrice
  .col-sm-offset-1.col-sm-10.col-md-offset-3.col-md-6.center
    %h5 Customer Quotes
    "Retrospective.work has added so much value to our volunteer reflections and staff reflections! It’s a nice way to give people time to reflect, but on their own time and not on the spot in a meeting. And it gives everyone an equal voice. Honestly, we love it."