%h7
  %a.slidebutton{data: {slideclosest: '.item', slidefind: '.inline-vote-form'}} Vote Up
  / = link_to('Vote', new_board_item_vote_path(@board, item))
  &nbsp;
  = link_to("( <span class='vote-count small'>#{pluralize(item.votes.map(&:id).compact.length, 'Up Vote')}</span> )".html_safe, board_item_path(@board, item), title: item.votes_list, alt: item.votes_list)
