body.fonted {
  font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Cabin', sans-serif;
}

.center {
  text-align: center;
}

.buffer {
  padding-top: 12px;
  
  &.twice {
    padding-top: 24px;
  }
  
  &.thrice {
    padding-top: 36px;
  }

  &.quad {
    padding-top: 48px;
  }  
}
  