@import "_mixins.css.less";

.column {
  border-left: 1px solid #ccc;
  padding-bottom: 36px;

  &:nth-child(3) {
    border-right: 1px solid #ccc;
  }

  .title {
    text-align: center;
  }

  .item {
    border: 1px solid #ccc;
    padding: 6px;
    .border-radius( 5px );
  }  
}

