.row
  .col-sm-12.center
    %h3 Votes for:
    %p.buffer= @item.title

.row.buffer
  .col-sm-12.center
    = link_to('Vote Up This Item', new_board_item_vote_path(@board, @item), class: 'btn btn-default')

.row.buffer.twice
  .col-sm-12.col-md-offset-4.col-md-4
    - if @votes.empty?
      %p.center There are no up votes for this item yet.
    
    = render @votes
          